*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "spartan", sans-serif;
}

h1{
	font-size: 50px;
	line-height: 64 px;
	color: #222;

}

h2{
	font-size: 46px;
	line-height: 54px;
	color: #222;
}

h4 {
	font-size: 20px;
	color: #222;
}

h6{
	font-weight: 700;
	font-size: 12px;

}

p {
	font-size: 16px;
	color: #465B52;
	margin: 15px 0 20px 0;
}

.section-p1{
	margin: 40px 0;
}

.section-m1{
	margin: 40px 0;
}

body{
	width: 100%;
}

button.normal{
	font-size: 14px;
	font-weight: 600;
	padding: 15px 30px;
	color: black;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;
}

#header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:  20px 80px;
	background: #E3E6F3;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06) ;
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
}

#navbar{
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar li {
	list-style: none;
	padding: 0px 20px;
	position: relative;
}


#navbar li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #1a1a1a;
	transition: 0.3s ease;
}



#navbar li a:hover,
#navbar li a.active{
	color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
	content: "";
	width: 30%;
	height: 2px;
	background: #088178;
	position: absolute;
	bottom: -4px;
	left: 20px;
}


#hero{
	background-image: url("image1.jpg");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}


#hero h4 {
	padding-bottom: 15px;
}


#hero h1 {
	color: #E3E6F3 ;
}

#hero button {

	background-color: transparent;
	color: #E3E6F3;
	border: 0;
	padding: 14px 80px 14px 66px;
	background-repeat: no-repeat ;
	cursor: pointer;
	font-weight: 700;
	font-size: 15px;

}

#product1{
	text-align: center;
}
#product1 .pro-container{
	display: flex;
	justify-content: space-between;
	padding: 20px ;
	flex-wrap: wrap;
	margin-bottom: 20px;


}




#product1 .pro{
	width: 23%;
	min-width: 250px;
	padding: 10px 12px;
	border: 1px solid #cce7d0;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 3px rgba(0, 0, 0, 0.02);
	margin: 15px 0px;
	transition: 0.2s ease;
	position: relative;
}

#product1 .pro:hover{
	box-shadow: 20px 20px 3px rgba(0, 0, 0, 0.06);
}


#product1 .pro img {
	width: 100%;
	border-radius: 20px;

}
#product1 .pro .des {
	text-align: start;
	padding: 10px 0;


}
#product1 .pro .des span{
	color: #606063;
	font-size: 12px;

}


#product1 .pro .des h5 {
	padding-top: 7px;
	color: #1a1a1a;
	font-size: 14px;

}


#product1 .pro .des i {
	font-size: 12px;
	color: rgb(243, 181, 25);
	
}


#product1 .pro .des h4{
	padding-top: 7px;
	font-size: 15px;
	font-weight: 700;
	color: #088178;
}


.cart_one{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	background-color: #e8f6ea;
	font-weight: 500;
	color: #088178;
	border: 1px solid #cce7d0;
	position: absolute;
	bottom: 20px;
	right: 10px;
	line-height: 37px;

}

#banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url("banner1.jpg");
	width: 100%;
	height: 40vh;
	background-size: cover;
	background-position: center;

}

#banner h4{
	color: whitesmoke;
	font-size: 16px;

}


#banner h2{
	color: whitesmoke;
	font-size: 50px;
	padding: 10px 0;


}



#banner h2 span {
	color: red;


}


#banner button:hover{
	background: #088178;
	color: #fff;

}












